./hqdmMapToPure/.stack-work/
./hqdmMapToPure/dist-newstyle/
./hqdmCardinalityChecker/.stack-work/
./hqdmCardinalityChecker/dist-newstyle/
./entityTypeSpec/.stack-work/
./entityTypeSpec/dist-newstyle/
./relationPathUp/.stack-work/
./relationPathUp/dist-newstyle/
./relationInheritance/.stack-work/
./relationInheritance/dist-newstyle/
./relations/.stack-work/
./relations/dist-newstyle/
./hqdmUtils/.stack-work/
./hqdmUtils/dist-newstyle/
./inheritance/.stack-work/
./inheritance/dist-newstyle/
./hqdm/.stack-work/
./jqdmJoin/.stack-workk/
./hqdmJoin/dist-newstyle/
.stack-work/
./hqdm/dist-newstyle/
./dist-newstyle/