./hqdmMapToPure/.stack-work/*
./hqdmCardinalityChecker/.stack-work/*
./entityTypeSpec/.stack-work/*
./relationPathUp/.stack-work/*
./relationInheritance/.stack-work/*
./relations/.stack-work/*
./inheritance/.stack-work/*
./hqdm/.stack-work/*
.stack-work/*
./hqdm/dist-newstyle/*